$this: 'l-container' !global;

.#{$this} {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;

  @include tablet-break {
    padding: 0 60px;
  }

  &--outer {
    @extend .#{$this};
    max-width: 1280px;
    padding: 0 10px;

    @include mobile-break {
      padding: 0 20px;
    }
  }

  &--card {
    @extend .#{$this};
    max-width: 1280px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint('>=', 'ts') {
      flex-wrap: nowrap;
    }
  }
}