$this: 'l-container' !global;

.#{$this} {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;

  &--margin-top {
    @extend .#{$this};
    margin-top: auto;
  }

  &--small {
    @extend .#{$this};
    max-width: 1300px;
  }
}
