$this: 'l-grid' !global;

.#{$this} {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 600px));
  grid-gap: 40px;
  max-width: 1300px;
  padding: 10px;
  margin: 0 auto;

  @include breakpoint('>=', 'ts') {
    padding: 20px;
    grid-template-columns: repeat(auto-fill, minmax(600px, 600px));
  }
}
