$this: 'l-main' !global;

.#{$this} {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &--menu-open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @include breakpoint('>=', 'ts') {
      position: relative;
    }
  }
}
