$this: 'o-footer' !global;

@include exports('#{$this}') {

  $white: #ffffff;
  $font-regular: 'Poppins', sans-serif;

  .#{$this} {
    border-top: 1px solid $white;
    padding-top: 2em;
    padding-bottom: 2em;

    &__link {
      color: $white;
    }

    &__text {
      text-align: center;
      font: {
        family: $font-regular;
      }
    }
  }
}