$this: 'c-contact' !global;

@include exports('#{$this}') {

  $white: #ffffff;
  $font-regular: 'Poppins', sans-serif;

  .#{$this} {
    ul {
      li {
        color: $white;
        font: {
          family: $font-regular;
        }
      }
    }
  }
}