$this: 'c-intro' !global;

@include exports('#{$this}') {

  $white: #ffffff;
  $font-regular: 'Poppins', sans-serif;

  .#{$this} {
    &__text {
      color: $white;
      font: {
        family: $font-regular;
      }
    }
  }
}
