$this: 'c-intro' !global;

.#{$this} {
  margin: 0 auto;
  max-width: 250px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__name {
    color: $white;
    font-size: 60px;
    font-family: $font-regular;
  }

  &__title {
    color: $white;
    font-size: 25px;
    font-family: $font-regular;
  }
}