$this: 'c-intro' !global;

.#{$this} {
  max-width: 950px;
  margin: 60px auto;

  @include breakpoint('>=', 'ts') {
    margin: 150px auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    font-family: $FONT_REGULAR;
    font-size: 30px;
    line-height: 1.2;

    @include themed() {
      color: t($color);
    }

    @include breakpoint('>=', 'ts') {
      font-size: 60px;
    }
  }
}
