$this: 'o-footer' !global;

.#{$this} {
  border-top: 1px solid $white;
  padding: 40px 0;

  &__link {
    color: $white;
  }

  &__text {
    text-align: center;
    font: {
      family: $font-regular;
    }
  }
}