$this: 'o-footer' !global;

.#{$this} {
  margin-top: auto;
  border-top: 1px solid $WHITE;
  padding: 20px;
  text-align: center;

  &__text {
    color: $WHITE;
    margin: 0;
    font-family: $font-regular;
  }

  &__link {
    color: $white;
  }
}

