$this: 'o-navigation' !global;

.#{$this} {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint('>=', 'ts') {
    padding: 50px 0;
  }

  &__logo {
    position: relative;
    width: 40px;
    height: 40px;
    border: 5px solid $white;
    text-align: center;

    @include breakpoint('>=', 'ts') {
      width: 50px;
      height: 50px;
    }
  }

  &__name {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    color: $white;
    font: {
      family: $font-regular;
      size: 13px;
      weight: bold;
    }
  }

  &__links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    padding: 0;
    display: none;

    @include breakpoint('>=', 'ts') {
      display: flex;
    }
  }

  &__item {
    color: $white;
    display: inline-block;
    margin-right: 20px;
    font: {
      family: $font-regular;
      size: 20px;
    }

    &:last-child {
      margin-right: 0;
    }

    @include tablet-break {
      margin-right: 30px;
    }
  }

  &__link {
    color: $white;
    text-decoration: none;
  }

  &__burger {
    display: flex;
    height: 30px;
    width: 30px;
    cursor: pointer;

    @include breakpoint('>=', 'ts') {
      display: none;
    }
  }

  &__menu {
    border-bottom: 4px solid $white;
    position: relative;
    width: 100%;

    &::before,
    &::after {
      content: "";
      border-top: 4px solid $white;
      position: absolute;
      left: 0;
      right: 0;
      transition: all 0.25s;
    }

    &::before {
      bottom: 8px;
    }

    &::after {
      bottom: 21px;
    }
  }
}