.container {
  max-width: 1020px;
  color: rgb(43, 45, 62);
  margin: 0px auto;
  padding: 0 30px 20px;

  @media (min-width: 768px) {
    padding: 0px 120px 20px;
  }
}

.outer-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;

  @media (min-width: 430px) {
    padding: 0 2em;
  }
}

span {
  font-size: ($font-size * 2);
}


h2 {
  margin: 0;
}
