/// Components
$this: '' !default;

/// List of previously imported `exports`.
/// @see exports()
///
/// @author Alex Gyoshev
/// @source https://www.ofcodeandcolor.com/2017/01/28/managing-dependencies-in-sass/
/// @since 1.0.0
///
/// @access private
/// @group exports
/// @type List
$exports-imported: () !default;

/// Mixin which ensures included content is only compiled once.
/// @see $files-imported
///
/// @author Alex Gyoshev
/// @source https://www.ofcodeandcolor.com/2017/01/28/managing-dependencies-in-sass/
/// @since 1.0.0
///
/// @access public
/// @group exports
///
/// @requires $files-imported
/// @param {String} $name - Name of exported module
/// @content classes and style attributes
/// @output scss
///
/// @example scss - Usage
///
/// @include exports('grids') {
///   .grid-padding {
///     padding: 20px;
///   }
/// }
/// .grid-margin {
///   margin: 10px;
/// }
///
/// @import "components/grids";
/// @import "components/grids";
///
/// @example css - CSS output
///
/// .grid-padding {
///   padding: 20px;
/// }
///
/// .grid-margin {
///   margin: 10px;
/// }
/// .grid-margin {
///   margin: 10px;
/// }
@mixin exports($exports-name) {
  @if (index($exports-imported, $exports-name) == null) {
    $exports-imported: append($exports-imported, $exports-name) !global;
    @content;
  }
}
