@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.navigation {
  width: 100%;
  background-color: white;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  //align-items: center;
  //justify-content: center;
  padding-top: 4em;
  padding-bottom: 4em;
}

body {
  border: 8px solid #494c4e;
  margin: 0;
}

h1 {
  color: black;
}

h2 {
  margin: 0;
}

.container {
  max-width: 1020px;
  color: rgb(43, 45, 62);
  margin: 0px auto;
  padding: 0px 70px 20px;
}

span {
  font-size: 32px;
}

.site-logo {
  width: 50px;
  height: 50px;
  display: block;
  overflow: visible;
  border: 5px solid #494c4e;
  position: relative;
  transform: rotate(0deg);
  flex-shrink: 0;
}

.logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(0deg);
  font-weight: 700;
  font-size: 13px;
  color: #494c4e;
}

.navigation-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}